# Temporal Configuration
TEMPORAL_HOST=localhost:7233
TEMPORAL_NAMESPACE=default

# AWS Configuration (Placeholder)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# App Configuration
LOG_LEVEL=INFO
ENVIRONMENT=development

# Data dir for storing tf state files
PROJECT_ROOT=<ehome_dir>