# Agent Logs
agent-logs/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.conda/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# IDEs
.vscode/
.idea/
.DS_Store
target/
ehub-core/worker.log
ehub-core/tf_states
temporal.db
